.menu {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
header {
  align-items: flex-end;
  /* height:4.5rem; */
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.icon-menu {
  cursor: pointer;
}

.close{
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0.1;   
    cursor: pointer;
    margin: 1rem;
}

.menu-mobile {
  background: #1C2538;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
  z-index: 2;
  overflow: hidden;
}

ul.grid {
  display: grid;
  gap: 4rem;
}

nav ul li {
    text-align: center;
  }

  nav ul li a{
    color: #F9F9F9;
    font-size: 1.875rem;
  }
