header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid #425365;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #1c2538;
}

nav .menu {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  opacity: 0;
  visibility: hidden;
  top: -20rem;
}

.icon-menu {
  cursor: pointer;
}

.close {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0.5;
  right: 0.5;
  cursor: pointer;
  /* margin: 1rem; */
}

nav .menu-mobile {
  background: #1c2538;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
  z-index: 2;
  overflow: hidden;
}

ul.grid {
  display: grid;
  gap: 4rem;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: #f9f9f9;
  font-size: 1.875rem;
  position: relative;
}

header nav ul li a:hover::after {
  width: 100%;
}

header nav ul li a::after {
  content: " ";
  width: 0;
  height: 1.5px;
  background: #dfd4e5;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

@media (min-width: 1200px) {
  header{
    padding: 0;
  }

  .icon-menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    overflow: visible;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav ul li a {
    font-size: 1rem;
}
}
