* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    padding: 5rem 1.5rem;  
}