* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.App{
    /* height: 100vh; */
}

.container{
    display: flex;
    flex-direction: column;
    padding: 5rem 1.5rem;  
}