* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.container {  
  padding: 5rem 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

.divider-1 {
  display: flex;
  z-index: 999;
  height: 1px;
  background: linear-gradient(
    270deg,
    #425365 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #425365 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
}


